h1{
    top:0px;
    text-align: center;
}
body{
    background-color:white;
    
}
.content{
    background-color:lightgrey;
}
.photo{
    position:relative;
    width: 500px;
    height:auto;
    margin: auto;
    background-color: white;
}
.fecha{
  color: lightgray;
  position:absolute;
  top: -12px;
  right:30px; 
}
img{
    max-width: 100%;
    height: auto;
}
.descryption{
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 20px;
}